body{
    background-color: slategray;
    color: whitesmoke;
}

h1{
    font-size: 22px;
    font-family: Arial;
}

.text1{
    background-color: cyan;
    color: forestgreen;
    text-align: center;
}

.text2{
    text-align: right;
}

.text3{
    text-decoration: none;
}

.boxed{
    width: 300px;
    border: 5px solid purple;
    padding: 25px;
    margin: 10px;
    text-align: center;
}