body{
    display: grid;
    grid-template-rows: 50vh 50vh;
    grid-template-columns: 50vw 50vw;
    grid-template-areas: 
    "header nav"
    "main aside";
}

header{
    grid-area: header;
    background-color: red;
}

header h1{
    text-align: center;
    font-size: 5vw;
}

nav{
    grid-area: nav;
    background-color: blue;
}

main{
    grid-area: main;
    background-color: green;
}

aside{
    grid-area: aside;
    background-color: yellow;
}

